# Ignore macOS system files
.DS_Store

# Ignore node_modules directory (for Node.js projects)
node_modules/

# Ignore log files and other temporary files
*.log
*.tmp
*.temp
*.fem
*.pkl
*.mnt

# Ignore compiled files
*.class
*.o
*.so
*.dll

# Ignore Python cache and virtual environments
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
ENV/

# Ignore IDE project files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.user

# Ignore operating system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore coverage directory
coverage/

# Ignore local database files
*.sqlite
*.sqlite3

# Ignore specific files
config.yml
secrets.yml

# Ignore any file with a ~ at the end
*~

# Ignore specific directories
/logs
/tmp